<h2>Votar por el juego del Año</h2>
<hr>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col" *ngFor="let juego of juegos">
      <div class="card h-100 bg-dark">
        <img [src]="juego.url" class="card-img-top" [alt]="juego.name">
        <div class="card-body">
          <h5 class="card-title">{{juego.name}}</h5>
          <p class="card-text">Click aqui para dar tu voto al juego</p>
          <div class="d-grid gap-2">
              <button class="btn btn-outline-primary" (click)="votar(juego)">Votar</button>
          </div>
        </div>
      </div>
    </div>
  </div>


